# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Build directories
build/
.build/
outdir/

# West workspace
.west/

# Zephyr specific
**/zephyr.elf
**/zephyr.bin
**/zephyr.hex
**/zephyr.map
**/zephyr.dts
**/zephyr.config

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
akira-env/
venv/
env/
bin/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Logs
*.log


build_esp32s3/
.build_esp32s3/
build_esp32c3/
.build_esp32c3/
build_nrf52/
.build_nrf52/
build_nrf53/
.build_nrf53/

# WebAssembly apps 
*.wasm

#python env
.venv/
modules/wasm-micro-runtime
