// ESP32-S3 Super Mini Board Overlay for AkiraOS
// ESP32-S3 Mini N4R2: 4MB Flash, 2MB PSRAM (Quad SPI)
// This overlay extends the base board definition with AkiraOS-specific config

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/spi/spi.h>


// Enable USB OTG for device mode (CDC ACM console)
&usb_otg {
    status = "okay";
};

/ {
    fstab {
        compatible = "zephyr,fstab";

        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            read-size = <1>;
            prog-size = <16>;
            cache-size = <256>;
            lookahead-size = <32>;
            block-cycles = <512>;
            partition = <&lfs1_partition>;
            mount-point = "/lfs";
        };
    };
};

// Flash memory partitions (4MB flash)
&flash0 {
    partitions {
        akira_settings_nvs_partition: partition@256000 {
            label = "akira_settings_nvs";
            reg = <0x00256000 DT_SIZE_K(32)>;
        };

        lfs1_partition: partition@25E000 {
            label = "akira_storage";
            reg = <0x0025E000 DT_SIZE_K(256)>;
        };
    };
};



/ {
    aliases {
        led0 = &status_led;
    };

    leds {
        compatible = "gpio-leds";
        status_led: led_0 {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        };
    };
};